:root {
  --color-dark-blue: #1E2945;
  --color-dark-red: #321A30;
  --color-orange: #F67E64;
  --color-purple: #685CB5;
  --color-green: #0AD774;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-dark-blue);
  color: white;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
}