:root {
  --color-scheme: blue
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
}