.switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
    border-radius: 5px;
}


.switch input:focus+.slider {
    outline: 3px solid #2196F3;
}

input:checked+.slider {
    background-color: rgb(0, 234, 0);
}


.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.form {
    width: 100%;
    /* padding: 1em;
    background-color: var(--dark-blue-light-1);
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.412);
    border-radius: 0.5em; */
}


.formContainer {
    width: clamp(15rem, 100%, 95vw);
    padding: 1em;
    background-color: var(--dark-blue-light-1);
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.412);
    border-radius: 0.2em;
}

.formContainer table {
    border: 1px solid black;
    width: 100%;
}

.formContainer table tbody tr:nth-child(odd) {
    background-color: var(--dark-blue-light-2);
}

.formContainer table td,
.formContainer table th {
    border: 1px solid black;
    text-align: center;
    padding: 1em;
}

@media screen and (max-width: 540px) {
    .nameData {
        display: none;
    }

}

.btnCont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.btnCont button {
    color: white;
    border: none;
    background-color: var(--color-orange);
    font-size: 1.2em;
    padding: 0.4em .9em;
    border-radius: 0.3em;
    width: 10rem;
    cursor: pointer;
}

.heading {
    font-size: 1.5em;
    color: var(--color-orange);
    text-align: center;
    margin-bottom: 1em;
}

.form h3 {
    font-size: 1.5rem;
    color: var(--color-orange);
    margin: .7em 1em;
}


.textArea {
    width: 100%;
    padding: 0.5em;
    border: 0px;
    color: white;
    border-radius: 0.2em;
    border-bottom: 2px solid var(--color-orange);
    font-size: 1.2em;
    resize: none;
    background-color: var(--dark-blue-dark-3);
}

.textArea:focus {
    outline: none;
    bottom: 2px solid var(--color-orange);
}

.textAreaLabel {
    margin: .7em 1em;
}



.addAttendanceBtn {
    width: fit-content;
    height: fit-content;
    padding: 1em;
}

.addAttendanceBtn a,
.addAttendanceBtn a:visited {
    color: white;
    text-decoration: none;
}